@import "definitions";

html {
	height: 100%;
}

body {
	background: @col-smoke;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: normal;
	height: 100%;
}

@media all and (max-width: 960px) {
	#wrapper {
		max-width: 100%;
		margin: 0;
		overflow-x: hidden;
	}

	#site-title > h1 > a {
		font-size: 56px;
		line-height: 100px;
	}
	#menu {
		display: none;
	}
	.social-nav {
		display: none;
	}
}

@media all and (min-width: 961px) {
	#wrapper {
		margin: 0px auto;
		max-width: 960px;
	}
	#site-title > h1 > a {
		font-size: 90px;
		line-height: 160px;
	}
}

.theme-navigation > ul > li > a {
	float: left;
	padding-top: 2px;
	line-height: 35px;
	border: 2px solid @col-black;
	width: 150px;
	margin: 0 10px;
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	color: @col-black;
	transition: border-color 0.5s ease, color 0.5s ease;
	text-decoration: none;
}

#header {
	text-align: center;
}

header > h1 {
	text-align: center;
}

#site-title > h1 > a {
	font-weight: 100;
	font-family: "Alegreya Sans SC", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: @col-black;
}

.top-menu {
	list-style: none;
}

.theme-navigation {
	height: 40px;
	text-align: center;
}

.theme-navigation > ul {
	margin: 0;
	padding: 0;
}

.theme-navigation > ul > li {
	display: inline-block;
}

.theme-navigation > ul > li > a:hover {
	color: @col-mint;
	border: 2px solid @col-mint;
	transition: border-color 0.5s ease, color 0.5s ease;
	text-decoration: none;
}

.social-nav {
	margin-top: 20px;
	height: 40px;
}

.social-nav > .soc-button {
	margin: 0 5px;
	border-radius: 20px;
	background: @col-black;
	font-size: 18px;
	line-height: 38px;
	transition: background-color 0.5s ease, color 0.5s ease;
	color: @col-smoke;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 44px;
}

.social-nav > .soc-button:hover {
	background: @col-mint;
	//color: @col-black;
	transition: background-color 0.5s ease, color 0.5s ease;
}

.nav-separator {
	margin-top: 39px;
	border-bottom: 1px solid @col-lgrey;
}

/**
 * Content
 */

p img {
  width: 100% !important;
  height: auto;
}

.ecae-link {
	text-transform: uppercase;
	text-decoration: none;
	color: @col-mint;
	font-weight: 600;
	display: block;
	padding-top: 10px;
}

#content > article > header > h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	padding-top: 30px;
	line-height: 20px;
	margin: 0;
	font-family: "Alegreya Sans SC", sans-serif;
	font-weight: 300;
	font-size: 28px;
}

#content > article > header > h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	padding-top: 30px;
	line-height: 20px;
	margin: 0;
	font-family: "Alegreya Sans SC", sans-serif;
	font-weight: 300;
	font-size: 28px;
}

#content > article > header > h2 > a {
	text-decoration: none;
	color: @col-black;
}

#content > article > header > h1 > a {
	text-decoration: none;
	color: @col-black;
}

#content > article > header > .entry-meta {
	text-align: center;
	color: @col-dgrey;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 30px;
	height: 20px;
}

.wp-caption-text {
	font-weight: 100;
	font-family: 'Alegreya Sans SC', sans-serif;
}

.meta-cat > ul {
	display: inline-block;
	list-style: none;
	padding-left: 1px;
}

.meta-cat > ul > li {
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Alegreya Sans SC';
	font-weight: 100;
}

.meta-cat > ul > li > a {
	color: @col-dgrey;
	text-decoration: none;
}

.entry-summary > p > a {
	color: @col-black;
	transition: color 0.5s ease;
}

.entry-summary > p > a:hover {
	color: @col-mint;
	transition: color 0.5s ease;
}

.entry-title > a {
	color: @col-black;
	text-align: center;
}

blockquote {
	background: #f9f9f9;
	padding: 10px;
	border-left: 4px solid @col-dgrey;
}

cite > a {
	color: @col-black;
	transition: color 0.5s ease;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 100;
}

h1 {
	font-size: 32px;
}

p > a {
	color: @col-black;
	transition: color 0.5s ease;
	text-decoration: underline;
}

.meta-cat > ul > li > a:hover {
	color: @col-mint;
	transition: color 0.5s ease;
}

#content > article > header > h2 > a:hover {
	color: @col-mint;
	transition: color 0.5s ease;
}

#content > article > header > h1 > a:hover {
	color: @col-mint;
	transition: color 0.5s ease;
}

/**
 * Comment Form
 */

.comment-form-comment > label {
	display: none;
}

#commentform > p > label {
	display: block;
}

#commentform > p > input {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-family: 'Alegreya Sans', sans-serif;
	border: 1px solid @col-lgrey;
	background: #fbfbfb;
	width: 300px;
	color: @col-black;
	transition: color 0.5s ease, border-color 0.5s ease;
}

#commentform > p > input:focus {
	color: @col-mint;
	border: 1px solid @col-mint;
	transition: color 0.5s ease, border-color 0.5s ease;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}

#commentform > p > input:hover {
	color: @col-mint;
	border: 1px solid @col-mint;
	transition: color 0.5s ease, border-color 0.5s ease;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}

#commentform > p > textarea {
	width: 100%;
	height: 150px;
	background: #fbfbfb;
	border: 1px solid @col-lgrey;
	font-size: 14px;
	font-family: 'Alegreya Sans', sans-serif;
}

#commentform > p > textarea:focus {
	border: 1px solid @col-mint;
	transition: border-color 0.5s ease;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}

#commentform > p > textarea:hover {
	border: 1px solid @col-mint;
	transition: border-color 0.5s ease;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.form-submit > #submit {
	height: 40px;
	border-radius: 20px;
	border: 2px solid @col-black;
	text-transform: uppercase;
	background: none;
	font-weight: 600;
	padding-top: 4px;
	width: 160px;
	color: @col-black;
	transition: color 0.5s ease, border-color 0.5s ease;
}

.form-submit > #submit:hover {
	color: @col-mint;
	border: 2px solid @col-mint;
	transition: color 0.5s ease, border-color 0.5s ease;
}

/**
 * Nav-below
 */

#nav-below {
	padding-top: 10px;
	padding-bottom: 40px;
}

#nav-below > .nav-previous {
	float: left;
}

#nav-below > .nav-next {
	float: right;
}

#nav-below > .nav-previous > a {
	text-decoration: none;
	text-transform: uppercase;
	color: @col-black;
	font-weight: 600;
}

#nav-below > .nav-next > a {
	text-decoration: none;
	text-transform: uppercase;
	color: @col-black;
	font-weight: 600;
}

/**
 * sidebar
 */

.sidebar {
	position: fixed;
	z-index: 99;
	background: @col-black;
	width: 5px;
	right: 0;
	top: 0;
	min-height: 101%;
	color: @col-smoke;
	overflow: visible !important;
}

.sidebar-toggle {
	width: 60px;
	height: 60px;
	position: relative;
	top: 100px;
	margin-left: -55px;
	background: @col-black;
	transition: margin-left 0.2s ease;
}

.sidebar-toggle:hover {
	margin-left: -60px;
	transition: margin-left 0.2s ease;
}

.sidebar-toggle > i {
	color: @col-smoke;
	font-size: 32px;
	text-align: center;
	margin: 14px;
}

.sidebar > .user-panel {
	width: 100%;
	height: 200px;
}

.sidebar > aside {
	margin-top: 100px;
	text-align: right;
	margin-right: 10px;
	display: none;
}

.widget-title {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}

.textwidget > p {
	font-size: 14px;
	text-transform: uppercase;
}

.cat-item {
	list-style: none;
	text-transform: uppercase;
	font-size: 14px;
}

.textwidget > p > a {
	color: @col-smoke;
	text-decoration: none;
	transition: color 0.5s ease;
}

.textwidget > p > a:hover {
	color: @col-mint;
	transition: color 0.5s ease;
}

* > a:hover {
	color: @col-mint;
	transition: color 0.5s ease;
}

.xoxo > div > ul > li {
	list-style: none;
	text-transform: uppercase;
	font-size: 14px;
}

.xoxo > div > ul > li > a {
	color: @col-smoke;
	text-decoration: none;
	transition: color 0.5s ease;
}

.xoxo > div > ul > li > a:hover {
	color: @col-mint;
	transition: color 0.5s ease;
}

/**
 * Footer
 */
#copyright > h6 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	color: @col-dgrey;
}

#copyright > h6 > a {
	text-decoration: none;
	color: @col-dgrey;
}

/**
 * Image styling
 */

.alignleft {
    float: left;
    margin:0 15px 30px 0;
}
.aligncenter {
    display: block;
    margin: 0 auto 30px auto;
}
.alignright {
    float: right;
    margin:0 0 30px 15px;
}
.alignnone {
    float: none;
    display:block;
    margin:0 0 30px 0;
}
.size-full {
    width:100%;
    height:auto;
    margin:0 0 30px 0;
}
p .alignleft {
    float: left;
    margin:5px 15px 30px 0;
}
p .aligncenter {
    display: block;
    margin: 5px auto 30px auto;
}
p .alignright {
    float: right;
    margin:5px 0 30px 15px;
}
p .alignnone {
    float: none;
    display:block;
    margin:5px 0 30px 0;
}
p .size-full {
    width:100%;
    height:auto;
    margin:5px 0 30px 0;
}
